@using Johnny.ShoeStore.Domain.Entities;
@model IEnumerable<ProductCategory>
@{
    bool horizontal = ((bool)(ViewContext.RouteData.Values["horizontalLayout"] ?? false));
    string wrapperClasses = horizontal ? "btn-group btn-group-sm btn-group-justified" : null;
}
<div class="@wrapperClasses">
    @Html.ActionLink("Home", "List", "Product", null,
        new
        {
            @class = horizontal ? "btn btn-default btn-sm" :
                "btn btn-block btn-default btn-lg"
        })
    @foreach (var category in Model)
    {
        @Html.RouteLink(category.ProductCategoryName, new
        {
            controller = "Product",
            action = "List",
            category = category.ProductCategoryId,
            page = 1
        }, new
        {
            @class = (horizontal ? "btn btn-default btn-sm"
            : "btn btn-block btn-default btn-lg")
            + (category.ProductCategoryId == ViewBag.SelectedCategory ? " btn-primary" : "")
        })
    }
</div>
