@model IEnumerable<Johnny.ShoeStore.Domain.Entities.PermissionCategory>

@{
    ViewBag.Title = "Admin: All Roles";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="box-body">
    <table id="example1" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="text-right">ID</th>
                <th>Permission Category Name</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.PermissionCategoryId</td>
                    <td>@Html.ActionLink(item.PermissionCategoryName, "Edit", new { item.PermissionCategoryId })</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "PermissionCategory"))
                        {
                            <a href="@Url.Action("Edit", "PermissionCategory", new { item.PermissionCategoryId })" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-edit" /> Edit
                            </a>
                            <button type="button" class="btn btn-default btn-xs" data-href="@Url.Action("Delete", "PermissionCategory", new { item.PermissionCategoryId })" data-toggle="modal" data-target="#confirm-delete">
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th class="text-right">ID</th>
                <th>Permission Category Name</th>
                <th class="text-center">Actions</th>
            </tr>
        </tfoot>
    </table>
</div><!-- /.box-body -->